body {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222;
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

main {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    color: #5F6368;
}

li {
    float: left;
}

#tnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#tnav a {
    padding: 5px;
}

#tlnav {
    margin: 10px 80% 0 1em;
    }

#trnav {
    margin: 10px 0 0 2em;
}

#trnav img {
    height: 2em;
    width: 2em;
}

#bnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 17% 0px 0px 0px;
    background-color: #f2f2f2;
}

#bnav a {
    padding: 5px;
}

#blnav {
    justify-content: flex-start;
    min-width: 30%;
    order: 1
}

#bcnav {
    order: 2;
}

#brnav {
    order: 3;
    justify-content: flex-end;
    min-width: 30%;
    padding: 0 1em 0 0;
}

#brnav li {
    float: right;
}

#bcnav img {
    height: 14px;
    width: 14px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#search {
    display: flex;
    justify-content: center;
    margin: 10em 10em 2em 10em;
    padding: 1em;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 15px;
    width: 30%;
    height: 34px;
}

button {
    height: 36px;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    margin: 0px 10px 0px 10px;
}

.click {
    margin: 20px;
    text-align: center;
}