body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: arial, sans-serif;
}


ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li {
    float: left;
}

#tnav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

#tnav a {
    padding: 5px;
}

#tlnav {
    justify-content: space-evenly;
    margin: 10px 80% 0 1em;
    }


#trnav {
    justify-content: space-evenly;
    margin: 10px 0 0 2em;
}

#trnav img {
    height: 2em;
    width: 2em;
}

#bnav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
    background: #f2f2f2;
}

#bnav a {
    padding: 5px;
}

#blnav {
    justify-content: flex-start;
    min-width: 30%;
    order: 1
}

#bcnav {
    display: flex;
    flex-wrap: wrap;
    order: 2;
}

#brnav {
    justify-content: flex-end;
    min-width: 30%;
    order: 3;
}

#bcnav img {
    height: 14px;
    width: 14px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#search {
   display: block;
   align-items: center;
   justify-content: center;
}

#search img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    display: block;
    margin: auto;
}